

.gray { 
      background: #e1e1e1;
      padding: 5px;
      }

.list-group-item {
                 border: 0 !important;
                 }      

.btn btn-link a {
			  text-decoration: none;				   	
			  }                